<div class="wrapper">
  <div class="container">
    <div class="row">
      <h3 style="text-align: center; margin: 30px">Cadastro</h3>
      <div class="col-sm-offset-2 col-sm-5">

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <p>Dados pessoais:</p>

          <%= f.input :email, :label => "E-mail", required: true, autofocus: true %>
          <%= f.input :first_name, :label => "Nome", required: true  %>
          <%= f.input :last_name, :label => "Sobrenome", required: true %>
          <%= f.input :address, :label => "Endereço", required: true, id: 'user_address' %>
          <%= f.input :phone_number, :label => "Telefone" %>
          <%= f.input :blood_type, :label => "Tipo sanguineo", collection: ['A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-'] %>
          <%= f.input :password, :label => "Senha", required: true, hint: ("mínimo de #{@minimum_password_length} caracteres" if @minimum_password_length) %>
          <%= f.input :password_confirmation, :label => "Confirmação de senha", required: true %>
        </div>
      </div>
      <div class="col-sm-3">
        <div>
          <p>Disponibilidade:</p>
          <%= f.input :available_monday, :label => "Segunda-feiras", collection: ['Indisponível', 'Manhã', 'Tarde', 'Noite'], default: 'Indisponível'%>
          <%= f.input :available_tuesday, :label => "Terça-feiras", collection: ['Indisponível', 'Manhã', 'Tarde', 'Noite'], default: 'Indisponível' %>
          <%= f.input :available_wednesday, :label => "Quarta-feiras",collection:['Indisponível', 'Manhã', 'Tarde', 'Noite'], default: 'Indisponível' %>
          <%= f.input :available_thursday, :label => "Quinta-feiras",collection:['Indisponível', 'Manhã', 'Tarde', 'Noite'], default: 'Indisponível' %>
          <%= f.input :available_friday, :label => "Sexta-feiras", collection:['Indisponível', 'Manhã', 'Tarde', 'Noite'], default: 'Indisponível' %>
          <%= f.input :available_saturday, :label => "Sábados", collection: ['Indisponível', 'Manhã', 'Tarde', 'Noite'], default: 'Indisponível' %>
          <%= f.input :available_sunday, :label => "Domingos", collection:['Indisponível', 'Manhã', 'Tarde', 'Noite'], default: 'Indisponível'%>
        </div>
      </div>

   <div class="form-actions">
      <%= f.button :submit, "Enviar", class: 'btn-white' %>

    </div>
    <div class="row">
      <div class="col-sm-offset-2 col-sm-4">
        <div class="form-actions">
          <div style="margin-top: -150px">
            <%= f.button :submit, "Enviar", class: 'btn-bege btn-top' %>
          </div>
        </div>
      </div>
    </div>


    <% end %>
  </div>
</div>
