<div class="form-inputs">
  <%= simple_form_for @medical_record do |f| %>
    <%= f.input :weight, :label => "Peso(kg)", required: true %>
    <%= f.input :height, :label => "Altura(0,0m)", required: true  %>
    <%= f.input :birth_date, :label => "Data de Nascimento", required: true, start_year: Date.today.year - 16, end_year: Date.today.year - 100 %>
    <p>Caso nunca tenha doado, ignore.</p>
    <%= f.input :last_donation, :label => "Data da última doação de sangue" %>
    <div class="form-actions">
      <%= f.button :submit, "Enviar", class: "btn-bege" %>
    </div>
  <% end %>
</div>


