<div class="container-footer">
  <div class="row-footer">
    <div class="hiding hidden-sm hidden-xs">
      <div class="col-sm-offset-1 col-sm-2 ">
        <div class="row-content">
          <h3>Easy Blood</h3>
          <ul class="list-footer">
            <li><%= link_to "Termos de Uso", terms_path %></li>
            <li><%= link_to "Politica de Privacidade", privacy_path %></li>
            <li><%= link_to "Sobre nós", about_us_path %></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2 ">
        <div class="row-content">
          <h3>Descubra</h3>
            <ul class="list-footer">
              <li><%= link_to "Campanhas", campaigns_path %></li>
              <li><%= link_to "Seja um apoiador", new_contributor_path %></li>
            </ul>
        </div>
      </div>

      <div class="col-sm-2 text-center">
        <div class="row-content">
          <h3>Apoio</h3>
          <ul class="list-footer">
          <% if !user_signed_in? %>
            <li><%= link_to t(".sign_in", default: "Login"), new_user_session_path %></li>
            <li><%= link_to "Cadastre-se", new_user_registration_path %></li>
            <li><%= link_to "Esqueci a senha", new_user_password_path %></li>
          <% else %>
            <li><%= link_to "Meu perfil", profile_path %></li>
            <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
            <%= t(".sign_out", default: "Log out") %>
          <% end %></li>
          <% end %></ul>
        </div>
      </div>
    </div>

    <div class="links-wrapper">
      <div class="row-links">
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>
