<!-- Logos de empresas parceiras com wrapper branco -->
<div class="white-wrapper" id="parceiros">
  <div class="container">
    <h3>Empresas parceiras</h3>
    <div class="supporters">
      <a href="https://www.lewagon.com" target="_blank"><%= image_tag "logo.png", height: 80 %></a>
      <a href="https://www.google.com" target="_blank"><%= image_tag "logo-google.png", height: 80 %></a>
      <a href="https://www.einstein.br" target="_blank"><%= image_tag "einstein.png", height: 80 %></a>
      <a href="http://www.saoluiz.com.br" target="_blank"><%= image_tag "sao-luiz.png", height: 80 %></a>
    </div>
    <div class="supporters">
      <a href="https://www.hospitalsiriolibanes.org.br" target="_blank"><%= image_tag "sirio.png", height: 80 %></a>
      <a href="http://www.hc.fm.usp.br" target="_blank"><%= image_tag "hc.png", height: 80 %></a>
      <a href="http://www.santajoana.com.br" target="_blank"><%= image_tag "joana.png", height: 80 %></a>
      <a href="https://www.jnj.com" target="_blank"><%= image_tag "john.png", height: 80 %></a>
    </div>
  </div>
</div>
