<div class="wrapper-campaign">
  <div class="container">
    <div class="show-campaign">
      <div class="row">
        <div class="campaign-details col-xs-12 col-sm-7">
          <!-- Texto de Apresentação da Campanha -->
          <h3><%= @campaign.institution.name %></h3>
          <p><strong> <%= @campaign.start_date.strftime("%d/%m") %> a <%= @campaign.end_date.strftime("%d/%m") %> </strong> </p>
          <p>Local: <%= @campaign.cpoint.address %></p>
          <h4>Doar é fácil. Participe!</h4>
          <p>Estamos muito felizes em anunciar mais uma campanha com <%= @campaign.institution.name %>. Isso será possível por contarmos com centenas de pessoas que se colocaram à disposição em participar.</p>
          <p>Participe e ajude com a nossa causa.</p>
          <!-- Botão para confirmar presença -->
          <div>
            <% if user_signed_in? %>
              <% if Campaign.last.users.any? { |user| user.id == current_user.id } %>
                <div class="presence-confirm">
                  <button class="myBtn" id="confirmMe">Conte comigo!</button>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

        <!-- Mapa com localização do evento -->
        <div class="col-xs-12 col-sm-5">
          <div
            id="map-id"
            style="width: 420px; height: 270px;"
            data-marker="<%= @marker.to_json %>">
          </div>
          <!-- Botão voltar -->
          <div class="button-back">
            <%= link_to 'Voltar', :back, class: "btn-white" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
