<div class="wrapper">
  <div class="container">
    <div class="show-campaign">
      <div>
        <h3><%= @campaign.institution.name %></h3>
        <p><strong>Início: <%= @campaign.start_date %> | Fim: <%= @campaign.end_date %> </strong></p>
        <p>Doar é fácil. Participe!</p>
        <p>Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu reclamis. Suco de cevadiss deixa as pessoas mais interessantis. Interagi no mé, cursus quis, vehicula ac nisi. Quem num gosta di mé, boa gentis.</p>
        <p> latitude: <%= @campaign.cpoint.latitude %> </p>
        <p> longitude: <%= @campaign.cpoint.longitude %> </p>
      </div>
      <div
          id="map"
          style="width: 400px; height: 400px;"
          data-markers="<%= @marker.to_json %>">
      </div>
    </div>
    <div class="button-back">
      <%= link_to 'Voltar', :back, class: "btn-bege" %>
    </div>
  </div>
</div>
