<div class="wrapper">
  <div class="container">
    <div class="show-campaign">
      <div class="campaign-details">
        <h3><%= @campaign.institution.name %></h3>
        <p><strong>Início: <%= @campaign.start_date %> | Fim: <%= @campaign.end_date %> </strong></p>
        <h4>Doar é fácil. Participe!</h4>
        <p>Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu reclamis. Suco de cevadiss deixa as pessoas mais interessantis. Interagi no mé, cursus quis, vehicula ac nisi. Quem num gosta di mé, boa gentis.</p>
        <p>Mussum de cevadiss deixa as pessoas mais interessantis. Interagi no mé, cursus quis, vehicula ac nisi. Quem num gosta di mé, boa gentis.</p>
        <p><%= @campaign.cpoint.address %></p>
      </div>
      <div
          id="map-id"
          style="width: 400px; height: 270px;"
          data-marker="<%= @marker.to_json %>">
      </div>
    </div>

    <!-- Botão para confirmar presença -->
    <% if current_user.medical_record.nil? %>
      <!-- INSERIR BOTÃO COM MODAL OU SWAL -->
    <% end %>




    <div class="button-back">
      <%= link_to 'Voltar', :back, class: "btn-bege" %>
    </div>
  </div>
</div>
