<div class="wrapper-campaign">
  <div class="container">
    <div class="show-campaign">
      <div class="campaign-details col-xs-12">
        <h3><%= @campaign.institution.name %></h3>
        <p><strong> <%= @campaign.start_date.strftime("%d/%m") %> a <%= @campaign.end_date.strftime("%d/%m") %> </strong> </p>
        <p>Local: <%= @campaign.cpoint.address %></p>
        <h4>Doar é fácil. Participe!</h4>
        <p>Estamos muito felizes em anunciar mais uma campanha com <%= @campaign.institution.name %>. Isso será possível por contarmos com centenas de pessoas que se colocaram à disposição em participar. Participe e ajude com a nossa causa.</p>
      </div>

      <!-- Mapa com localização do evento -->
      <div
      id="map-id"
      style="width: 400px; height: 270px;"
      data-marker="<%= @marker.to_json %>">
    </div>
  </div>
  <!-- Botão para confirmar presença -->

  <% if user_signed_in? %>
    <% if UsersCampaign.get_data[:users].any? { |user| user.id == current_user.id } %>
    <div class="row">
      <div class="buttons">
        <div class="presence-confirm">
          <button class="myBtn" id="confirmMe">Conte comigo!</button>
        </div>
        <div class="button-back">
          <%= link_to 'Voltar', :back, class: "btn-white" %>
        </div>
      </div>
    <% end %>
  <% end %>
    </div>
    <div class="row"> </div>
  </div>
</div>

