<div class="wrapper">
  <div class="container">
    <div class="show-campaign">
      <div>
        <h3>Instituição: <%= @campaign.institution.name %></h3>
        <p><strong>Início: <%= @campaign.start_date %> | Fim: <%= @campaign.end_date %> </strong></p>
        <p class="heart"><strong> <%= @people.count %> </strong> pessoas têm interesse.</p>
      </div>
      <div class="map">
        <p>Localização</p>
        <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@lat},#{@lon}&markers=#{@lat},#{@lon}&zoom=7&size=640x400&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8", height: 300 %>
      </div>
    </div>
    <div class="button-back">
      <%= link_to 'Voltar', :back, class: "btn-bege" %>
    </div>
  </div>
</div>
